h1 {
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;

  justify-content: space-between;
}

.button {
  background-color: rgb(110, 110, 110);
  border-radius: 10px;

  padding: 10px;

  cursor: pointer;
}

.characters-list {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  margin: 30px 20px 30px 20px;

  min-width: 500px;
}

.character {
  cursor: pointer;

  padding: 10px;

  background-color: silver;
  border-radius: 10px;
}

.error {
  color: red;
}